*{
        margin:0;
        padding:0;
}

.navbar{
        width:100%;
        height:10%;
        /* background:linear-gradient(to left,MediumSpringGreen ,SpringGreen ); */
        background-color:black;
        display:flex;
}
.logo{
        width:25%;
         display:flex;
        justify-content:center;
}
.logo  img{
        width:auto;
        height:auto;
}
.menu{
        width:75%;
        display:flex;
}
.menu .menubar{
        height:100%;
        width:80%;
}
.menu .menubar ul{
        height:100%;
        width:100%;
        display:flex;
        align-items:center;
        justify-content:space-around;
}
.menu .menubar ul li{
        list-style:none; 
        position: relative;        
        height: 100%; 
        width:100%;
        display: flex;
        align-items: center;
}
.menu .menubar ul li a{
        text-decoration:none;
        color:white;
        font-size:1.5vw;
        justify-content:center;
        align-items:center;
        height:100%;
        position:static !important;
        display:flex;
}      
.menu .menubar ul .underline_current a{
        text-decoration:underline;
        text-decoration-color:red;
        color: red;
}
.menu ul li a:hover{
        /* text-decoration: underline; */
        color:red;      
}
.menu .menubar ul li .submenu{
       height:auto;
        width:200px;
        display:none;
       background:red; 
        position: absolute;
        top:100%;
        left:50%;
        transform:translateX(-50%);
        border:1px solid black;
        flex-direction:column;
        padding:5px 0;
        z-index:10;
}
.menu .menubar ul li .submenu li{
       list-style:none;
        padding:8px 5%;
        width:90%;
        display:flex;
        justify-content:center;
        align-iteam:center;
}
.menu .menubar ul li .submenu li a{
         font-size:1.5vw;
         color: white;
          text-align: center;
          display: inline-block;
          max-width: 100%;
          /* position: absolute; */
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        
}
.menu .menubar ul li .submenu li:hover{
         background-color:hotpink;
        color:red;        
}
.menubar ul li:hover .submenu{
        display:block;    
}

/* media query//////////////////////////////////////////////////////////////////// */

@media (max-width: 576px) {
  .header {
    height: 5%;
    background: white;
  }

  .header .logo {
    width: 80%;
    background-color: white;
  }

  .header .logo a {
    width: 50%;
    background-color: white;
    justify-content: none;
    padding-left: 20%;
  }

  .header .menu {
    width: 20%;
    background-color: white;
  }

  .header .menu .menubar{
    width: 0%;
    height: 0%;
  }

  .header .menu .mobilebar {
    width: 100%;
    height: 100%;
  }

  .header .menu .mobilebar .hamburger {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: white;
  }

  .header .menu .mobilebar .hamburger span {
    display: block;
    width: 20px;
    height: 2px;
    background: black;
    border-radius: 2px;
    box-shadow: 0 7px 0 black, 0 -7px 0 black;
  }
  .header .menu.mobile-open .menubar ul {
    display: flex;
    background: grey;
    position: absolute;
    top:5%;
    left: 0;
    right: 0;
    z-index: 9;
    flex-direction: column;
  }
  .header .menu .menubar ul{
    height:auto;
    width:100%;
    display:none;
  }
  .header .menu .menubar ul li {
    padding: 5% 0;
  }
  .header .menu .menubar ul li a {
    font-size: 1rem;
  }
  .header .menu .menubar ul li .submenu {
    position: absolute;
    top: 100%;
    left: 0%;
    transform: 0 !important;
    display: none;
  }
  .header .menu .menubar ul li:open-submenu .submenu {
    display: block;
  }
}       
